API_PORT=8080
GCP_PROJECT_ID=gcp-project
GCP_TOPIC_ID=gcp-pubsub-topic

ADMINER_DEFAULT_SERVER=postgres
ADMINER_PORT=8000
PUBSUB_EMULATOR_PORT=8085
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123

WRITE_DATABASE_HOST=localhost
READ_DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=usrmgmt
SCHEMA_NAME=usrmgmt
DATABASE_USER=api_usrmgmt
DATABASE_PASSWORD=P455w0rd

PRETTY_LOG_FORMAT=true
GORM_LOG=true
ENVIRONMENT=dev

CORS_ALLOWED_ORIGIN=*
CORS_ALLOWED_HEADER=Authorization;X-Apigateway-Api-Userinfo;Content-Type
CORS_DEBUG=false